/* About page styles */

#about-content {
  background-color: var(--color-dark-grey);
  overflow-y: scroll;
  height: calc(100vh - 4.5rem - 5.5rem);
  border-radius: 1rem;
  padding: 4rem 5rem 4rem 5rem;
}

#profile {
  min-width: 256px;
  max-height: 256px;
}

#about-title {
  font-size: 50px;
}

#profession {
  font-size: 28px;
  font-weight: 200;
  color: #818182;
}

.socials {
  display: flex;
  flex-direction: row;
  margin: 1rem 0 1rem 0;
  justify-content: space-between;
}

.social-icon {
  width: 48px;
  height: 48px;
  padding: 12px;
  background-color: rgba(63, 92, 235, 0.935);
  border: transparent 1px solid;
  border-radius: 1.5rem;
  margin-right: 0.5rem;
} 

.social-icon:hover {
  background-color: rgb(244, 98, 20);
}

#about-bio {
  margin: 2rem 0 2rem 0;
}

.language-class {
  width: 4rem;
  height: 4rem;
}


