/* Education page styles */

#edu-container {
  position: relative;              
  padding: 2rem 20rem 2rem 6rem;  
  background-color: var(--color-dark-grey);
  overflow-y: scroll;
  height: calc(100vh - 4.5rem - 7rem);
  border-radius: 1rem;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;                    
  height: 30%;                     
  min-height: 200px;               
  background-image: url('src/assets/bg/bg-tokyo.png');
  background-size: cover;
  background-position: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  z-index: 0;                     
}

#edu-container > *:not(.section-bg) {
  position: relative;
  z-index: 1;                     
}

#uni { font-size: 3rem; }
#uni-location { font-size: 2rem; }
#uni-range { font-size: 2rem; }
#degree { font-size: 2rem; }
.special { font-size: 1.5rem; }


