/* Education page styles */

#edu-container {
  padding: 2rem 20rem 2rem 6rem;
  background-color: var(--color-dark-grey);
  overflow-y: scroll;
  height: calc(100dvh - 4.5rem - 5.5rem);
  border-radius: 1rem;
}

#uni-section {
  margin-bottom: 3rem;
}

#uni-logo {
  margin-bottom: 1rem;
}

#uni { 
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

#uni-location { 
  font-size: 1.5rem;
  color: grey;
  margin-bottom: 0.5rem;
}

#uni-range { 
  font-size: 1.5rem;
  color: grey;
  margin-bottom: 0.5rem;
}

#degree { 
  font-size: 1.5rem;
  color: grey;
  margin-bottom: 2rem;
}

.edu-section-title {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.course-category {
  margin-bottom: 2rem;
}

.course-category-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: rgb(214, 214, 214);
}

.course-item {
  list-style-type: circle;
  color: rgb(214, 214, 214);
  margin-left: 2rem;
  margin-bottom: 0.25rem;
}

.edu-point {
  list-style-type: circle;
  color: rgb(214, 214, 214);
  margin-left: 4rem;
  margin-bottom: 0.25rem;
}


