/* Experience page and card styles */

#exp-container {
  padding: 2rem 6rem 2rem 6rem;
  background-color: var(--color-dark-grey);
  overflow-y: scroll;
  height: calc(100dvh - 4.5rem - 5.5rem);
  border-radius: 1rem;
}

.exp-type {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.exp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 1.5rem 0;
  width: 100%;
}

.exp-img {
  width: 100px;
  height: 100px;
  border-radius: 0.25rem;
}

.exp-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
}

.exp-right {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.company { font-size: 2rem; }
.exp-title { 
  font-size: 2rem; 
  margin: 0;
}
.exp-period { color: grey }
.exp-desc { font-weight: 100; }

.divider {
  width: 100%;
  height: 1px;
  background-color: #cfcccc;
  margin-bottom: 3rem;
}