/* Experience page and card styles */

#exp-container {
  padding: 2rem 6rem 2rem 6rem;
  background-color: var(--color-dark-grey);
  overflow-y: scroll;
  height: calc(100dvh - 4.5rem - 5.5rem);
  border-radius: 1rem;
}

.exp-type {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.exp {
  display: flex;
  flex-direction: row;
  margin: 0 0 2.5rem 0;
}

.exp-img {
  width: 200px;
  height: 200px;
}

.exp-txt { margin-left: 1rem; }
.company { font-size: 2rem; }
.exp-title { font-size: 1.5rem; }
.exp-period { color: grey }
.exp-desc { font-weight: 100; }


