/* Layout */

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin: 0rem 1rem 1rem 1rem;
  max-height: calc(100dvh - 4.5rem - 5.5rem);
}

.link-list {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-grey);
  border-radius: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
}

#content-display {
  flex: 1 1 auto;
  width: 100%;
}

.link-list .link {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: 3rem;
}

.link-list .link:hover {
  background-color: dimgray;
  border-radius: 0.5rem;
}

.active-link {
  background-color: rgb(47, 46, 46);
}

.link-list .link-img {
  width: 64px;
  height: 64px;
  min-width: 64px;
  border-radius: 12px;
  object-fit: cover;
}

.link-list .link p {
  margin-left: 1rem;
}

.link-title {
  font-size: 1rem;
}

.link-info {
  color: #818182;
  font-size: 0.9rem;
}
