/* Layout */

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin: 0rem 1rem 1rem 1rem;
}

.link-list-wrapper {
  height: calc(100dvh - 4.5rem - 5.5rem);
  overflow: hidden;
  border-radius: 1rem;
}

.link-list {
  background-color: var(--color-dark-grey);
  height: 100%;
  overflow-y: scroll;
}

.link-list::-webkit-scrollbar {
  width: 10px;
  border-radius: 1rem;
  background-color: transparent;
}

.link-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0;
}

#about-title {
  font-size: 50px;
  text-align: center;
}

#content-display {
  flex: 1 1 auto;
  width: 100%;
  height: calc(100dvh - 4.5rem - 5.5rem); /* match parent height */
  overflow: hidden; /* let simplebar handle it */
}

.link-list .link {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: 3rem;
}

.link-list .link:hover {
  background-color: dimgray;
  border-radius: 0.5rem;
}

.active-link {
  background-color: rgb(47, 46, 46);
}

.link-list .link-img {
  width: 64px;
  height: 64px;
  min-width: 64px;
  border-radius: 12px;
  object-fit: cover;
}

.link-list .link p {
  margin-left: 1rem;
}

.link-title {
  font-size: 1rem;
}

.link-info {
  color: #818182;
  font-size: 0.9rem;
}
