/* ============================================
   NAVBAR CONTAINER
   ============================================ */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.75rem;
  background-color: transparent;
}

.nav-section {
  display: flex;
  align-items: center;
}

.nav-bar-center {
  flex-direction: row;
}

.nav-bar-left,
.nav-bar-right {
  flex-basis: 4rem;
  flex-shrink: 0;
}

/* ============================================
   NAVBAR ICONS
   ============================================ */
.icon-wrapper {
  padding: 0.5rem;
  background-color: var(--murk);
  border-radius: 4rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
}

.icon-wrapper:hover {
  background-color: #818182;
}

.home-icon {
  width: 28px;
  border: 0.5px solid transparent;
}

/* ============================================
   SEARCH BAR
   ============================================ */
.search-bar-container {
  display: flex;
  gap: 0.4rem;
  background-color: var(--murk);
  color: #f2eeee;
  padding: 0.65rem 1rem 0.65rem 1rem;
  border-radius: 4rem;
  width: 500px;
}

.search-bar-input {
  outline: none;
  border: none;
  width: 100%;
}

/* ============================================
   CONTACT BUTTON
   ============================================ */
.contact-button-wrapper {
  background-color: white;
  position: relative;
  color: black;
  width: 7.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.65rem;
  border-radius: 3.8rem;
  height: 2.5rem;
  box-shadow: 
    0 0.2rem 0.5rem rgba(255, 255, 255, 0.15),
    0 0.5rem 1.5rem rgba(255, 255, 255, 0.1);
  outline: none;
}

.contact-button-wrapper:hover {
  cursor: pointer;
}

.contact-button-wrapper:hover .arrow-down {
  display: block;
}

.contact-button-wrapper:hover .circle {
  display: none;
}

.arrow-down {
  display: none;
}

/* ============================================
   CONTACT POPUP
   ============================================ */
.popup-wrapper {
  display: flex;
  flex-direction: column;
  right: 0;
  position: absolute;
  margin-top: calc(100dvh - 50dvh);
  padding: 1rem;
  width: 18rem;
  height: fit-content;
  margin-right: 1rem;
  border-radius: 1rem;
  background-color: white;
  z-index: 200;
}

.social-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.social-redirect {
  background-color: rgb(0, 0, 0);
  color: rgb(114, 113, 113);
  font-size: small;
  width: 100%;
  margin: 0 1rem 0 1rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 0.5rem;
}

.popup-social-icon {
  width: 24px;
  height: 24px;
}
