/* Navbar Styles */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.75rem;
  background-color: var(--color-black);
}

/* Base styling for center, left and right */
.nav-section {
  display: flex;
  align-items: center;
}

.nav-bar-center {
  flex-direction: row;
}

.nav-bar-left, .nav-bar-right {
  flex-basis: 4rem;
  flex-shrink: 0;
}

.icon-active-wrapper, .icon-wrapper {
  padding: 0.5rem;
  background-color: white;
  border-radius: 4rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
}

.icon-wrapper {
  background-color: var(--color-dark-grey);
}

.icon-wrapper:hover {
  background-color: #818182;
}

.home-icon {
  width: 28px;
  border: 0.5px solid transparent;
}

/* search bar */

.search-bar-container {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  background-color: var(--color-dark-grey);
  color: #f2eeee;
  padding: 0.65rem 1rem 0.65rem 1rem;
  border: 1px solid black;
  border-radius: 4rem;
  width: 500px;
}

.search-bar-input {
  outline: none;
  border: none;
  width: 100%;
} 


