.projects-page {
  /* Box styling */
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: hidden;
}

.projects-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.projects-header h1 {
  font-size: 76px;
  text-align: center;
  margin-bottom: 1rem;
}

.projects-header p {
  margin-bottom: 4rem;
  color: rgb(96, 96, 96);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  /* Box styling */
  border-radius: 1rem;

  /* Layout */
  height: calc(100dvh - 4.5rem - 5.5rem);
  overflow-y: auto;
  flex: 1;

  /* Spacing */
  padding-top: 2rem;
}

.projects-container::-webkit-scrollbar {
  width: 10px;
  border-radius: 1rem;
  background-color: rgb(28, 29, 29);
}
.projects-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0;
}

.projects {
  background-color: var(--pale-slate-2);
}

.projects-list {
  /* Behavior */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin-top: 2rem;
}

.proj-card {
  /* Layout */
  margin: 1rem;
  padding: 2rem;
  min-height: 400px;
  width: 400px;

  /* Box styling */
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  background-color: var(--sand);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);

  /* Animation */
  transition: transform 0.5s;
}

.proj-card:hover {
  transform: translateY(-4px);
}

.proj-img {
  width: 400px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.proj-txt {
  margin-bottom: 1.5rem;
  max-width: 400px;
}

.proj-title {
  margin-top: 1.5rem;
  font-size: 1.6rem;
}

.proj-authors {
  color: #818182;
}

.proj-info-txt {
  margin-bottom: 1rem;
}

#proj-authors {
  color: #818182;
  margin: 0rem 0rem 1rem 0rem;
  min-height: 48px;
}

#proj-lg-title {
  font-size: x-large;
  margin: 1rem 0rem 1rem 0rem;
}

.proj-info-img {
  border-radius: 0.5rem;
  height: 240px;
  object-fit: cover;
}

.proj-info-container {
  background-color: var(--color-dark-grey);
  border-radius: 12px;
  min-width: 280px;
  max-width: 280px;
  height: calc(100dvh - 4.5rem - 5.5rem);
  position: relative;
}

.proj-column-content {
  overflow-y: auto;
  height: calc(100% - 68px);
  padding: 1.5rem;
}

.proj-column-content::-webkit-scrollbar {
  width: 10px;
  border-radius: 1rem;
  background-color: rgb(28, 29, 29);
}
.proj-column-content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0;
}

.github-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  border: 1px solid rgb(38, 36, 36);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 68px;
  z-index: 99;
}

.github-links img,
.github-links svg {
  width: 1.75rem;
  height: 1.75rem;
}

.github-link {
  /* transition: property duration timing-function delay */
  transform: scale(1.1) rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.github-link:hover {
  transform: scale(1.3) rotate(15deg);
}

.grid-row-toggle {
  position: relative;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid rgb(38, 36, 36);
  border-radius: 2rem;
}

.grid-row-toggle::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: rgb(38, 36, 36);
  left: 50%;
  transform: translateX(-50%);
}

.grid-row-toggle > div:first-child {
  display: flex;
  justify-content: center;
  flex: 1;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 0.3rem 0.4rem 0.3rem 0.6rem;
}

.grid-row-toggle > div:nth-child(2) {
  display: flex;
  justify-content: center;
  flex: 1;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 0.3rem 0.4rem 0.3rem 0.6rem;
}

.grid-row-toggle:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.projects-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
  margin-right: 2.5rem;
  margin-top: 2rem;
}