/* Projects page and project components */

#proj-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#proj-card-container {
  background-color: var(--color-dark-grey);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  overflow-y: scroll;
  background-color: var(--color-dark-grey);
  border-radius: 1rem;
  height: calc(100dvh - 4.5rem - 5.5rem);
}

.proj-card {
  margin: 1rem;
}

.proj-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.proj-txt {
  max-width: 200px;
}
.proj-title {
  margin-top: 0.5rem;
}
.proj-authors {
  color: #818182;
}

.proj-info-txt {
  margin-bottom: 1rem;
}

#proj-authors {
  color: #818182;
  margin: 0rem 0rem 1rem 0rem;
  min-height: 48px;
}

#proj-lg-title {
  font-size: x-large;
  margin: 1rem 0rem 1rem 0rem;
}

.proj-info-img {
  border-radius: 0.5rem;
  height: 240px;
  object-fit: cover;
}

.proj-info-container {
  background-color: var(--color-dark-grey);
  border-radius: 12px;
  min-width: 280px;
  height: calc(100dvh - 4.5rem - 5.5rem);
  position: relative;
}

.proj-column-content {
  overflow-y: auto;
  height: calc(100% - 68px);
  padding: 1.5rem;
}

.github-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  border: 1px solid rgb(38, 36, 36);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 68px;
  z-index: 99;
}

.github-links img,
.github-links svg {
  width: 1.75rem;
  height: 1.75rem;
}

.github-link {
  /* transition: property duration timing-function delay */
  transform: scale(1.1) rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.github-link:hover {
  transform: scale(1.3) rotate(15deg);
}
