@import "tailwindcss";

:root {
  --white-transparent: rgba(255, 255, 255, 0.5);
  --color-primary: #030412;
  --color-midnight: #06091f;
  --color-navy: #161a31;
  --color-indigo: #1f1e39;
  --color-dark-grey: #1a1a1a;
  --color-black: rgb(0, 0, 0);
}

html,
body {
  overflow-x: hidden;
}

body {
  overflow: auto;
  font-family: "Funnel Display", "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  color: white;
  background-color: black;
}

/* Style the entire scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Adjust width as needed */
  height: 10px; /* Adjust height for horizontal scrollbars */
  background-color: #5b099e; /* Background of the scrollbar area */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #af0a0a;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #115903; /* Color of the scrollbar thumb */
  border-radius: 10px;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0000c9;
}
