.threejs-container {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: skyblue;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
}