.toggles {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}

.active-btn {
  background-color: rgb(0, 205, 241);
}

.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 5px 5px 0 black;
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
}
