/* ============================================
   WEATHER TIME COMPONENT
   ============================================ */
.weather-time-ctn {
  background-color: var(--murk);
  color: #f2eeee;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  min-height: 160px;
} 

.weather-date {
  font-size: larger;
  font-weight: 500;
}

.weather-img-mask {
  width: 128px;        
  height: 128px;      
  overflow: hidden; 
  border-radius: 0.5rem; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-img-mask img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* zoom */
  transform: scale(3.5);       
  transform-origin: top center; 
}

.weather-icon { 
  position: absolute;
  z-index: 20;
  transform: scale(1.5);
}
/* ============================================
   TOGGLES COMPONENT
   ============================================ */
.toggles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  min-width: 324px;
  background-color: var(--murk);
  border-radius: 4rem;
  padding: 1rem;
  box-shadow: 
    0 0 20px rgba(0, 0, 0, 0.15),
    4px 4px 10px rgba(0, 0, 0, 0.1);
}

.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 2rem;
  /* box-shadow: 5px 5px 0 black; */
  width: 48px;
  height: 48px;
  margin-right: 0.5rem;
}

.active-btn {
  background-color: rgb(0, 205, 241);
}

/* ============================================
   CURRENT WORK COMPONENT
   ============================================ */
.currwork-ctn {
  color: white;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  margin-top: 1rem;
  font-family: 'Pixelify Sans', sans-serif;
  border-radius: 0.2rem;
  overflow: hidden;
}

.currwork {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: cover;  
  background-repeat: no-repeat;
  background-position: bottom;
}